# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# typescript
*.tsbuildinfo

# next.js
/.next/
/out/

# testing
/coverage

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel

# env
.env
.env*.local

# rooms data
/data
